header {
  background-color: brown;
  color: whitesmoke;
  text-align: center;
  width: 100%;
  line-height: 4rem;
  font-size: 1rem;
}
h1 {
  font-size: 2rem;
}

main {
  display: flex;
  min-height: 100%;
}

.tabs-content {
  width: 250px;
  height: fit-content;
}
.vertical li:hover{
  cursor: pointer;

}

#maincontent {
  flex-direction: row;
  display: flex;
  width: 100%;
  margin: 5px;
}
#asidecontent {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 5px;
}

.suggestions {
  border: 1px solid black;
  min-height: 100px;
  padding: 7px;
  line-height: 1.3rem;
  width: 100%;
  margin: 5px;
  text-align: center;
}
.favStyle {
  border: 1px solid black;
  min-height: 100px;
  max-height: 1000px;
  padding: 7px;
  line-height: 1.3rem;
  width: 50%;
  margin: 5px;
  text-align: center;
  height: fit-content;
}
.suggestPic{
  display: none;
  padding: 5px;
}
#sliderOutput2{
  padding: 2px;
  width: 30px;

}